<div class="jumbotron">
  <h1 class="display-4">Ashish Patel</h1>
  <p class="lead">
    <a class="btn btn-primary btn-lg" href="#" role="button" href="https://www.linkedin.com/in/zoom2ashish/" target="_blank">LinkedIn</a>
  </p>
</div>
<div class="container">
  <div class="row">
    <div class="col-sm-6 col-md-4 col-xl-3">
      <div class="card" style="width: 18rem;">
        <div class="card-body">
          <h5 class="card-title">Angular + Firebase</h5>
          <h6 class="card-subtitle mb-2 text-muted">Google Signin with firebase</h6>
          <p class="card-text">Experiment to support Social Signin using Google Firebase in Angular App.</p>
          <p class="card-text"><small class="text-muted">Angular 5, Google Firebase</small></p>
          <a href="https://zoom2ashish.github.io/ng5-firebase/" target="_blank" class="card-link">Demo</a>
          <a href="https://github.com/zoom2ashish/ng5-firebase" target="_blank" class="card-link">Source Code</a>
        </div>
      </div>
    </div>
  </div>
</div>