<div class="jumbotron">
  <h1 class="display-4">Ashish Patel</h1>
  <p class="lead">
    <a class="btn btn-primary btn-lg" href="#" role="button" href="https://www.linkedin.com/in/zoom2ashish/" target="_blank">LinkedIn</a>
  </p>
</div>
<div class="container">
  <div class="row">
    <div class="col-sm-6 col-md-4 col-xl-3 d-flex" *ngFor="let card of cards">
      <div class="card flex-fill" style="width: 18rem;">
        <div class="card-body">
          <h5 class="card-title">{{ card.title }}</h5>
          <h6 class="card-subtitle mb-2 text-muted">{{ card.subtitle }}</h6>
          <p class="card-text">{{ card.description }}</p>
          <p class="card-text"><small class="text-muted">{{ card.tehnologies }}</small></p>
        </div>
        <div class="card-footer">
          <a href="{{ card.demoUrl }}" target="_blank" class="card-link">Demo</a>
          <a href="{{ card.githubRepoUrl }}" target="_blank" class="card-link">Source Code</a>
        </div>
      </div>
    </div>
  </div>
</div>